</div>


<div class="jumbotron">

<div class="container">
  <div class="col-md-10">
    <h1>Welcome to
      <bold>MetaAuthor</bold>!
    </h1>
    <h4>A <code>geospatial metadata</code> editing platform...</h4>
<hr>
    <%= link_to 'Submit a geospatial dataset', datasets_path, class: "btn btn-primary btn-lg", role: "button" %>
    <%= link_to 'Edit a metadata record', records_path, class: "btn btn-primary btn-lg btn-warning", role: "button" %>

  </div>

</div>
</div>
<div class="container">


  <h3> Getting started...</h3>
