</div>


<div class="jumbotron">

<div class="container">
  <div class="col-md-4">
    <h2>Welcome to
      <bold>TorchedEarth</bold>!
    </h2>
    <h4>A <code>geospatial metadata</code> editing platform...</h4>
  </div>

</div>
</div>
<div class="container">


  <h3> Getting started...</h3>
